* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ===== BODY ===== */

body {
    font-family: Arial, sans-serif;
    background-color: #444444;
    color: #ffffff;
    justify-content: center;
    align-items: stretch;
}

.container {
    background-color: #1b1b1b;
}

/* ===== HEADER & NAV ====== */

header {
    background: darkred;
    color: #ffffff;
    text-align: center;
    position: sticky;
    top: 0;
}

h1 {
    margin-bottom: -5px;
}

nav a {
    font-size: 1.5vw;
    font-weight: bold;
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    font-style: italic;
    color: gray
}

/* ===== MAIN ===== */

main section {
    padding: 10px 20px;
}

h2 {
    font-style: italic;
    margin-top: 20px;
    margin-bottom: 5px;
}

/* ===== #FONT ===== */

#FONTS p:first-of-type {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(226, 230, 173);
    margin-bottom: 5px;
}

#FONTS p:last-of-type {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: lightgreen;
}

/* ===== #CUSTOM ===== */

ul {
    list-style-type: none;
    margin-left: 20px;
}

li::before {
    content: "✦";
    font-size: 12px;
}

li:first-of-type {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: rgb(228, 82, 184);
}

li:nth-of-type(2) {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-style: oblique;
    color: orange;
}

li:nth-of-type(3) {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    letter-spacing: 25px;
    color: lightblue;
}

li:nth-of-type(4) {
    font-family: 'Lucida Console', 'Courier New', monospace;
    font-size: 14px;
    word-spacing: 15px;
    color: lightcoral;
}

/* ===== #BORDER ===== */

#BORDER h2 {
    text-align: center;
}

#BORDER img {
    border: 5px solid rgb(187, 8, 8);
    margin: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* ===== FOOTER ===== */

footer {
    background: darkred;
    color: #ffffff;
    text-align: center;
}
#FOOTER {
    padding: 10px 20px;
}

#FOOTER h2 {
    font-style: italic;
    text-align: right;
    margin-bottom: 0px;
}

#FOOTER p {
    text-align: right;
    font-size: 10px;
    margin-bottom: 20px;
}