* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ===== BODY ===== */
body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

/* ===== CONTAINER ===== */

.container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header"
        "main"
        "footer";
    max-width: 1200px;
    width: 100%;
    min-height: 100vh;
}

/* ===== HEADER ===== */

header {
    grid-area: header;
    padding: 1rem;
}

/* ===== MAIN ===== */

main {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1rem;
    padding: 1rem;
}

/* ===== LEFT, RIGHT ===== */

.left {
    grid-column: 1;
    padding: 2rem;
}

.right {
    grid-column: 2;
    padding: 2rem;
}

/* ===== FOOTER ===== */

footer {
    grid-area: footer;
    padding: 1rem;
}

@media (max-width: 768px) {
  main {
    grid-template-columns: 1fr;
  }

  .left, .right {
    grid-column: 1;
    padding: 1rem;
  }
}