* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* ===== HEADER ===== */

header {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #f0af25;
}

/* ===== MAIN ===== */

input, select {
    border: 1px solid #ccc;
    border-radius: 5px;
}

label {
    font-weight: bold;
}

p {
    color: red;
    font-size: 0.9rem;
    font-style: italic;
}

.fillupform {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.fillupform h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #000000;
}

.fillupform button {
    text-align: center;
    background-color: #f0af25;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.saved {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.saved h2 {
    text-align: center;
    margin-bottom: 1rem;
    color: #000000;
}

.saved table, .saved th {
    border: 1px solid #ccc;
    border-collapse: collapse;
    padding: 0.5rem;
    text-align: left;
}

.saved td {
    border: 1px solid #ccc;
    border-collapse: collapse;
    padding: 0.5rem;
    text-align: left;
    text-transform: capitalize;
}

/* ===== FOOTER ===== */

footer {
    background-color: #505050;
    color: white;
    text-align: left;
}

footer ul, td, tr {
    text-align: left;
    vertical-align: top;
    list-style-type: none;
}

footer th {
    text-align: left;
    padding-bottom: 0.5rem;
}